.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 106px;
    background-color: #f1f1f1;

    height: 100px;
    width: 760px;
}

/* .logo {
    width: 300px;
} */

